@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: 'no-continue';
  src: url("../../Fonts/no-continue/WebKit/no_continue.eot");
  /* IE9 Compat Modes */
  src: url("../../Fonts/no-continue/WebKit/no_continue.eot?#iefix") format("embedded-opentype"), url("../../Fonts/no-continue/WebKit/no_continue.woff2") format("woff2"), url("../../Fonts/no-continue/WebKit/no_continue.woff") format("woff"), url("../../Fonts/no-continue/WebKit/no_continue.ttf") format("truetype"), url("../../Fonts/no-continue/WebKit/no_continue.svg#no_continue") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;

body {
  width: 100%;
  height: 100%;
  z-index: -1;
}

video {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* p {
  color: white;
  font-size: 14px;
}

<<<<<<< Updated upstream
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
=======
h1 {
  color: #EFEFEF;
}

h2 {
  color: #EFEFEF;
>>>>>>> Stashed changes
}

#box {
  background-color: black;
  position: absolute;
  z-index: 0;
  opacity: 0.4;
  width: 60vw;
  height: 80vh;
  margin: 10vh 20vw 10vh 20vw;
}

#content {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  width: 60vw;
  height: 80vh;
  margin: 10vh 20vw 10vh 20vw;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content table th {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

#content table tr td {
  color: white;
  font-size: 14px;
}

#content .homeBtn {
  background-color: green;
  height: 30px;
  width: 55px;
  color: white;
  font-size: 14px;
}

<<<<<<< Updated upstream
=======
#score-quote p {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

#score {
  width: 100%;
  border-radius: 60px;
  background-color: green;
}

#score h2 {
  font-size: 1.5em;
  color: greenyellow;
  text-align: center;
}

#score h1 {
  text-align: center;
}

#score-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#play-again {
  text-align: center;
}

#play-again p {
  font-size: 1.5em;
}

#play-again button {
  display: flex reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1em;
  padding: 10px;
  border-radius: 20px;
  width: 65px;
}

#play-again button:hover {
  -webkit-animation: pulse 0.1s linear;
          animation: pulse 0.1s linear;
  background-color: green;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 0 rgba(223, 222, 222, 0.7);
            box-shadow: 0 0 0 0 rgba(223, 222, 222, 0.7);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 10px rgba(223, 222, 222, 0.7);
            box-shadow: 0 0 0 10px rgba(223, 222, 222, 0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 0 rgba(223, 222, 222, 0.7);
            box-shadow: 0 0 0 0 rgba(223, 222, 222, 0.7);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 0 rgba(223, 222, 222, 0.7);
            box-shadow: 0 0 0 0 rgba(223, 222, 222, 0.7);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 10px rgba(223, 222, 222, 0.7);
            box-shadow: 0 0 0 10px rgba(223, 222, 222, 0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 0 rgba(223, 222, 222, 0.7);
            box-shadow: 0 0 0 0 rgba(223, 222, 222, 0.7);
  }
}
>>>>>>> Stashed changes
/*# sourceMappingURL=style.css.map */