@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: 'no-continue';
  src: url("../../Fonts/no-continue/WebKit/no_continue.eot");
  /* IE9 Compat Modes */
  src: url("../../Fonts/no-continue/WebKit/no_continue.eot?#iefix") format("embedded-opentype"), url("../../Fonts/no-continue/WebKit/no_continue.woff2") format("woff2"), url("../../Fonts/no-continue/WebKit/no_continue.woff") format("woff"), url("../../Fonts/no-continue/WebKit/no_continue.ttf") format("truetype"), url("../../Fonts/no-continue/WebKit/no_continue.svg#no_continue") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  z-index: -1;
}

video {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* p {
  color: white;
  font-size: 14px;
}

h1 {
  color: #EFEFEF;
}

#box {
  background-color: #171717;
  position: absolute;
  z-index: 1;
  opacity: 0.6;
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw 10vh 10vw;
  border-radius: 20px;
}

#content {
  background-color: transparent;
  position: absolute;
  z-index: 2;
  width: 80vw;
  height: 80vh;
  min-width: 500px;
  margin: 10vh 10vw 10vh 10vw;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content table {
  background-color: transparent;
  width: 80%;
  margin: 5vh 0 5vh 0;
}

#content table th {
  color: #EFEFEF;
  font-size: 14px;
  font-weight: bold;
  font-size: 16px;
}

#content table tr td {
  color: #EFEFEF;
  font-size: 14px;
  font-size: 16px;
}

#content table tr .table-rank {
  width: 10%;
  text-align: center;
}

#content table tr .table-date {
  width: 25%;
  text-align: center;
}

#content table tr .table-time {
  width: 25%;
  text-align: center;
}

#content table tr .table-react {
  width: 20%;
  text-align: center;
}

#content table tr .table-difficulty {
  width: 20%;
  text-align: center;
}

#content table tr .table-header {
  font-size: 17px;
  text-align: center;
}

#content .home-btn {
  background-color: #171717;
  height: 40px;
  width: 80px;
  color: white;
  font-size: 14px;
  border-radius: 10px;
}

#wrapper_landingpage {
  width: 500px;
  height: 200px;
  position: absolute;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
  -webkit-animation: loading_landingpage 2s ease-in;
          animation: loading_landingpage 2s ease-in;
}

@media screen and (max-width: 515px) {
  #wrapper_landingpage {
    position: relative;
    -webkit-transform: translate(0);
            transform: translate(0);
    top: 30px;
    right: 0;
    margin: auto;
    width: 155px;
    height: auto;
    overflow: hidden;
  }
}

#wrapper_landingpage .button_landingpage {
  position: relative;
  z-index: 3;
  padding: 1px 5px;
  border-radius: 30%;
  color: #EFEFEF;
  -webkit-box-shadow: 0 0 1px 1px black;
          box-shadow: 0 0 1px 1px black;
}

#wrapper_landingpage #button_play {
  background-color: #da1410;
  top: 145px;
  left: 50px;
  border: 1px solid #da1410;
  -webkit-animation: button_play_moving 1.28s linear infinite;
          animation: button_play_moving 1.28s linear infinite;
}

@media screen and (max-width: 515px) {
  #wrapper_landingpage #button_play {
    position: absolute;
    top: 148px;
    left: 50px;
  }
}

#wrapper_landingpage #button_score {
  background-color: #0085b2;
  top: 150px;
  left: 350px;
  border: 1px solid #0085b2;
  -webkit-animation: button_score_moving 1.28s linear infinite;
          animation: button_score_moving 1.28s linear infinite;
}

@media screen and (max-width: 515px) {
  #wrapper_landingpage #button_score {
    position: absolute;
    top: 338px;
    left: 65px;
  }
}

#wrapper_landingpage #gif_choose_score_play {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 515px) {
  #wrapper_landingpage #gif_choose_score_play {
    position: relative;
  }
}

#wrapper_landingpage #gif_choose_score_play_mobil {
  display: none;
  z-index: 2;
}

@media screen and (max-width: 515px) {
  #wrapper_landingpage #gif_choose_score_play_mobil {
    display: block;
    position: relative;
    right: 183%;
    height: 180px;
  }
}

@-webkit-keyframes loading_landingpage {
  0% {
    margin-top: -300px;
  }
  100% {
    margin-top: -0px;
  }
}

@keyframes loading_landingpage {
  0% {
    margin-top: -300px;
  }
  100% {
    margin-top: -0px;
  }
}

@-webkit-keyframes button_play_moving {
  0% {
    -webkit-transform: rotate(20deg) translate(-2.5%, 5%);
            transform: rotate(20deg) translate(-2.5%, 5%);
  }
  25% {
    -webkit-transform: rotate(20deg) translate(-5%, 10%);
            transform: rotate(20deg) translate(-5%, 10%);
  }
  50% {
    -webkit-transform: rotate(20deg) translate(-2.5%, 5%);
            transform: rotate(20deg) translate(-2.5%, 5%);
  }
  75% {
    -webkit-transform: rotate(20deg) translate(0);
            transform: rotate(20deg) translate(0);
  }
  100% {
    -webkit-transform: rotate(20deg) translate(0);
            transform: rotate(20deg) translate(0);
  }
}

@keyframes button_play_moving {
  0% {
    -webkit-transform: rotate(20deg) translate(-2.5%, 5%);
            transform: rotate(20deg) translate(-2.5%, 5%);
  }
  25% {
    -webkit-transform: rotate(20deg) translate(-5%, 10%);
            transform: rotate(20deg) translate(-5%, 10%);
  }
  50% {
    -webkit-transform: rotate(20deg) translate(-2.5%, 5%);
            transform: rotate(20deg) translate(-2.5%, 5%);
  }
  75% {
    -webkit-transform: rotate(20deg) translate(0);
            transform: rotate(20deg) translate(0);
  }
  100% {
    -webkit-transform: rotate(20deg) translate(0);
            transform: rotate(20deg) translate(0);
  }
}

@-webkit-keyframes button_score_moving {
  0% {
    -webkit-transform: rotate(-20deg) translate(2.5%, 5%);
            transform: rotate(-20deg) translate(2.5%, 5%);
  }
  25% {
    -webkit-transform: rotate(-20deg) translate(5%, 10%);
            transform: rotate(-20deg) translate(5%, 10%);
  }
  50% {
    -webkit-transform: rotate(-20deg) translate(2.5%, 5%);
            transform: rotate(-20deg) translate(2.5%, 5%);
  }
  75% {
    -webkit-transform: rotate(-20deg) translate(0);
            transform: rotate(-20deg) translate(0);
  }
  100% {
    -webkit-transform: rotate(-20deg) translate(0);
            transform: rotate(-20deg) translate(0);
  }
}

@keyframes button_score_moving {
  0% {
    -webkit-transform: rotate(-20deg) translate(2.5%, 5%);
            transform: rotate(-20deg) translate(2.5%, 5%);
  }
  25% {
    -webkit-transform: rotate(-20deg) translate(5%, 10%);
            transform: rotate(-20deg) translate(5%, 10%);
  }
  50% {
    -webkit-transform: rotate(-20deg) translate(2.5%, 5%);
            transform: rotate(-20deg) translate(2.5%, 5%);
  }
  75% {
    -webkit-transform: rotate(-20deg) translate(0);
            transform: rotate(-20deg) translate(0);
  }
  100% {
    -webkit-transform: rotate(-20deg) translate(0);
            transform: rotate(-20deg) translate(0);
  }
}

#contentBox {
  background-color: black;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contentBox h1 {
  margin: auto;
  color: white;
}

#levelBtns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

button {
  height: 80px;
  width: 80px;
  background-color: greenyellow;
  color: black;
  border-radius: 30%;
  font-size: large;
  cursor: pointer;
}

embed {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: auto;
  margin: auto;
  border-radius: 20%;
}
/*# sourceMappingURL=style.css.map */